<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script type="text/javascript">
    //简单登录操作
    $("#doLogin").click(function (e) {
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                "userName": $("#userName").val(),
                "password": $("#password").val()
            },
            dataType: "json",
            success: function (data) {
                if (data.result == "1") {
                    window.location.href = "/learn";
                } else {
                    alert("账号密码不能为空！");
                }
            }
        });
    });

</script>
</html>